.home{
    margin-top: 0.2rem;
}
.home .titleP span,.titleP2 span{
    clear: both;
    font-size: 0.4rem;
    padding-left: 0.2rem;
    margin-right: 0.4rem;
}
.home .titleP b,.titleP2 b{
    color: #8f8f8f;
    font-size: 0.3rem;
}
.home .titleP i,.titleP2 i{
    color: #8f8f8f;
    float: right;
    margin-right: 0.3rem;
    line-height: 0.5rem;
}
.home .titleP2{
    clear: both;
    margin-top: 0.2rem;
}
