.cell{
    width: 2rem;
    height: 3rem;
    float: left;
    margin: 0.25rem;
    margin-top: 0.1rem;
}
.cell img{
    width: 2rem;
    height: 2.4rem;
}
.cell dd{
    font-size: 1.1em;
}
.cell p{
    color: #929292;
}
.cell p span{
    margin-right: 0.2rem;
}